# For Eclipse.

/**/.checkstyle
/**/.pmd
/**/*.epf
/**/*.userlibraries


# For Eclipse, Java.

/**/.metadata/
/**/bin/
/**/build/
/**/dist/
/**/gen/
/**/target/
/**/temp/
/**/ztest/log/
/**/*.class


# For Eclipse, Cpp.
/**/Debug/


# For Python.

/**/__pycache__/
/**/*.py[cod]
/**/*$py.class
