# For general purpose.
/**/Temp/
/**/temp/


# For Ansible.
/Ansible_Test/**/*.retry


# For Eclipse.
/**/.checkstyle
/**/.pmd
/**/*.epf
/**/*.userlibraries


# For Eclipse, Cpp.
/Cpp_Test/**/Debug/


# For Eclipse, GoogleAE.
/GoogleAE_Test
/GoogleAE_Test/**/bin/
/GoogleAE_Test/**/build/
/GoogleAE_Test/**/dist/
/GoogleAE_Test/**/gen/
/GoogleAE_Test/**/target/
/GoogleAE_Test/**/ztest/log/
/GoogleAE_Test/**/*.class


# For Eclipse, Java.
/Java_Learn/**/.metadata/
/Java_Learn/**/bin/
/Java_Learn/**/build/
/Java_Learn/**/dist/
/Java_Learn/**/gen/
/Java_Learn/**/target/
/Java_Learn/**/ztest/log/
/Java_Learn/**/*.class


# For Eclipse, Java.
/Java_Test/**/.metadata/
/Java_Test/**/bin/
/Java_Test/**/build/
/Java_Test/**/dist/
/Java_Test/**/gen/
/Java_Test/**/target/
/Java_Test/**/ztest/log/
/Java_Test/**/*.class


# For Node.js.
/Node_Test/**/node_modules/
/Node_Test/**/package-lock.json


# For Eclipse, Python.
/Python_Test/**/__pycache__/
/Python_Test/**/*.pyc
/Python_Test/**/*.pyo
/Python_Test/**/*.pyd
/Python_Test/**/*$py.class
/Python_Test/**/*.log


# For Eclipse, Ruby.
/Ruby_Test/**/bin/
/Ruby_Test/**/tests/


# For Vagrant.
/Docker_Test/**/.vagrant/
/Vagrant_Test/**/.vagrant/
/Vagrant_Test/**/*.log


# For Eclipse, Web.
/Web_Test/**/.metadata/
