# Set the default behavior.
*        text=auto
.gitattributes  text    eol=lf
*.py     text           eol=crlf
*.sh     text           eol=lf
*.txt    text           eol=crlf
*.yml    text           eol=lf
