<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SvCalculator1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>com.djs.test.sv.calculator.ServletRequestListenerTest</listener-class>
	</listener>

	<listener>
		<listener-class>com.djs.test.sv.calculator.ServletContextListenerTest</listener-class>
	</listener>

	<filter>
		<filter-name>FilterTest</filter-name>
		<filter-class>com.djs.test.sv.calculator.FilterTest</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>FilterTest</filter-name>
		<servlet-name>Calculator</servlet-name>
	</filter-mapping>

	<servlet>
		<description>Calculator</description>
		<display-name>Calculator</display-name>
		<servlet-name>Calculator</servlet-name>
		<servlet-class>com.djs.test.sv.calculator.Calculator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Calculator</servlet-name>
		<url-pattern>/Calc</url-pattern>
	</servlet-mapping>
</web-app>
