<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	version="1.0">

	<persistence-unit name="spring_sample">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<class>com.djs.test.spring_sample.db.Item</class>
		<class>com.djs.test.spring_sample.db.ItemLog</class>
	</persistence-unit>

</persistence>
